.reunion{
		background-image: url("../images/Reunion-1.jpg");
	    background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.mt-6{
	margin-top : 200px;
}

.mt-7{
	margin-top : 450px;
}

.mt-8{
	margin-top: 52px;
}